{{define "base"}}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{template "title"}}</title>
	<link rel="stylesheet" href="/public/styles.css">
	<link rel="icon" href="/public/tool.ico">
</head>

<body>
	{{template "sidebar"}}
	{{template "body"}}
</body>

</html>
{{end}}
