{{define "title"}}Common Tools{{end}}

{{define "body"}}
<div class="content-block">
  <h1>Common Tools</h1>
  <p>This site serves as a repository of common tools I use in my daily workflow.</p>
</div>
{{end}}
