{{define "sidebar"}}
<div class="sidebar">
  <div class="dropdown">
    <div class="top-menu">Hashing</div>
    <div class="dropdown-content">
      <a href="/hashing/md5.html">MD5</a>
      <a href="/hashing/SHA-256.html">SHA-256</a>
      <a href="/hashing/bcrypt.html">Bcrypt</a>
    </div>
  </div>
  <div class="dropdown">
    <div class="top-menu">Datetime</div>
    <div class="dropdown-content">
      <a href="/datetime/timestamp.html">Unix Timestamp</a>
      <a href="/datetime/formatter.html">Datetime Formatter</a>
    </div>
  </div>
</div>
{{end}}
